<!--Default Error Page-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Unexpected Error</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
    <!--Top-->
    <header>
        <h1>(&pi;) pi_board</h1>
    </header>
    <p>Unexpected Error Occurred</p>
    <a th:href="@{/login}">
        <button type="button">Login</button>
    </a>
    <a th:href="@{/register}">
        <button type="button">Register</button>
    </a>
</body>
</html>