<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Issues</title>
    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
    <!--Top-->
    <header>
        <h1>(&pi;) pi_board</h1>
    </header>

    <div class="vertical-button">
        <a th:href="@{/all-issues}">
            <button type="button" class="pibutton">Issue Board</button>
        </a>
        <a th:href="@{/new-issue}">
            <button type="button" class="pibutton">New Issue</button>
        </a>
    </div>
</body>
</html>
